.region-select {
    margin-left: 1em;
	outline: none;
    font-family: inherit;
    font-size: inherit;
    -ms-appearance: none;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
}